.helmet_div {
  width: 500px;
  height: 500px;
  position: relative;
}

.helmet_item {
  width: 414px;
  height: 483px;
  position: absolute;
  opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
